// Контейнер
$containerMaxW: 1170px;
$containerMinW: 320px;
$containerP: 20px;

// Типографика
$fontFamily: 'Circular Std';
$fontWeight: 400;
$fontSize: 16px;
$fontStyle: normal;
$lineHeight: normal;

// Цвета
$colorPrimary: #3F3232;
$colorSecond: #FFF;
$colorOrange: #FF9401;

// Враппер
$bodyWrapperOverflow: hidden;
$bodyWrapperMinH: 100%;
