.about {
    padding: 142px 0;

    &__container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    &__main-wrapper {
        max-width: 424px;
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__title-large {
        margin-bottom: 21px;
        max-width: 497px;
    }

    &__descr {
        margin-bottom: 48px;
        max-width: 497px;
    }

    &__image {
        position: absolute;
        left: -111px;
        top: -53px;
        z-index: 1;
    }

    @media (max-width: 1050px) {
        &__image {
            display: none;
        }

        &__container {
            justify-content: flex-start;
        }

        &__main-wrapper {
            max-width: none;
        }
    }
}