.hero {
    padding: 88px 0 131px;

    &__container {
        display: flex;
        position: relative;
    }

    &__main-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 532px;
        z-index: 2;
    }

    &__subtitle {
        margin-bottom: 16px;
    }

    &__title {
        color: #232323;
        font-family: Gilroy;
        font-size: 96px;
        font-weight: 800;
        line-height: 108px; /* 112.5% */
        margin-bottom: 13px;
    }

    &__descr {
        margin-bottom: 44px;
    }

    &__btn {
        margin-bottom: 60px;
    }

    &__social-list {
        display: flex;
        gap: 30px;
    }

    &__social-item {
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 100ch;
        filter: drop-shadow(0px 10px 40px rgba(255, 148, 1, 0.20));
    }

    &__image {
        position: absolute;
        top: -62px;
        right: -40px;
        z-index: 1;
    }

    @media (max-width: 1050px) {
        &__image {
            display: none;
        }
    }
}