.rating {
    color: #818181;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px; /* 375% */

    &__icon {
        fill: #818181;
        margin-inline-end: 2px;
    }
}