include _mixins.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="The food palace is an neighborhood restaurent serving seasonal global cuisine driven by the faire.")
        title F.palace
        link(rel="stylesheet", href="assets/css/main.min.css")
        link(rel="shortcut icon", href="assets/img/logo.svg", type="image/x-icon")
    body.whatcher
        .wrapper
            header.section.header
                +decor('header.webp', '251', '177', 'header__decor')
                .container.header__container
                    .logo
                        +image('logo.svg', 'Logo', 'logo__icon', '25', '25')
                        p.logo__label F.palace

                    nav.nav.header__nav
                        ul.nav__list
                            li.nav__item
                                button(type="submit", title='Search') 
                                    +svgIcon('search', 'nav__item-icon', '24', '24')
                            li.nav__item.nav__item_indicator
                                button(title='Cart') 
                                    +svgIcon('cart', 'nav__item-icon', '19', '17')
                            li.nav__item
                                button(title='Menu') 
                                    +svgIcon('menu', 'nav__item-icon', '20', '17')

            main.page
                section.section.hero
                    .container.hero__container
                        .hero__main-wrapper
                            h2.section__title._line_leftbottom.hero__subtitle Restaurant
                            h1.hero__title 
                                | Good food #[br]
                                | Good mood
                            p.section__descr.hero__descr
                                | The food palace is an neighborhood restaurent 
                                | serving seasonal global cuisine driven by the faire.
                            
                            a.button.hero__btn(href="#") Explore food menu

                            ul.hero__social-list
                                li.hero__social-item
                                    a.hero__social-link(href="$", title="facebook")
                                        +svgIcon('facebook', 'hero__social-icon', '9', '16')
                                li.hero__social-item
                                    a.hero__social-link(href="$", title="insta")
                                        +svgIcon('insta', 'hero__social-icon', '16', '16')
                                li.hero__social-item
                                    a.hero__social-link(href="$", title="twitter")
                                        +svgIcon('twitter', 'hero__social-icon', '19', '16')

                        +image('hero.webp', '', 'hero__image', '879', '625')

                section.section.section_bg_gradient.about
                     .container.about__container
                        +image('about.webp', '', 'about__image', '781', '597')
                        .about__main-wrapper
                            h2.section__title.about__title About us
                            p.section__title-large.about__title-large Simple Way of Eating Delicious
                            p.section__descr.about__descr
                                | Keep healthy food readily available. When you get 
                                | hungry, you’re more likely to eat the first thing 
                                | you see on the counter or in the
                            a.button(href="#") Explore our story

                section.section.features
                    +decor('features-left.webp', '267', '178', 'features__decor _left')
                    +decor('features-right.webp', '479', '319', 'features__decor _right')
                    .container.features__container
                        h2.section__title.features__title Features
                        p.section__title-large.features__title-large Our Awesome Services

                        ul.features__services-list
                            li.service
                                +image('services/food.webp', 'Food', 'service__image', '90', '116')
                                p.service__title Quality Food
                                p.service__descr 
                                    | Keep healthy food readily available. 
                                    | When you get hungry, you’re more likely to 
                            li.service
                                +image('services/mouth.webp', 'Food', 'service__image', '90', '116')
                                p.service__title Super Taste
                                p.service__descr 
                                    | KeKeep healthy food readily available. 
                                    | When you get hungry, you’re more likely to 
                            li.service
                                +image('services/truck.webp', 'Food', 'service__image', '90', '116')
                                p.service__title Fast Delivery
                                p.service__descr 
                                    | Keep healthy food readily available. 
                                    | When you get hungry, you’re more likely to 

                section.section.section_bg_gradient.recipes
                    +decor('recipes.webp', '86', '95', 'recipes__decor')
                    .container.recipes__container
                        h2.section__title.recipes__title Recipes
                        p.section__title-large.recipes__title-large Most Popular Items
                        ul.recipes__foods-list
                            li.food
                                +image('foods/1.webp', '', 'food__image', '330', '231')
                                .food__text-wrapper
                                    .food__title-wrapper
                                        p.food__title Flame-boiled dish
                                        p.rating
                                            +svgIcon('star', 'rating__icon', '11', '11')
                                            | 8.5
                                    .food__price-wrapper
                                        button.button.button_theme_addto ADD TO CART
                                        p.price.food__price $ 19.99
                            li.food
                                +image('foods/2.webp', '', 'food__image', '330', '231')
                                .food__text-wrapper
                                    .food__title-wrapper
                                        p.food__title Peach Melba dish
                                        p.rating
                                            +svgIcon('star', 'rating__icon', '11', '11')
                                            | 9.5
                                    .food__price-wrapper
                                        button.button.button_theme_addto ADD TO CART
                                        p.price.food__price $ 20.99
                            li.food
                                +image('foods/3.webp', '', 'food__image', '330', '231')
                                .food__text-wrapper
                                    .food__title-wrapper
                                        p.food__title Delmonico Steak dish
                                        p.rating
                                            +svgIcon('star', 'rating__icon', '11', '11')
                                            | 8.0
                                    .food__price-wrapper
                                        button.button.button_theme_addto ADD TO CART
                                        p.price.food__price $ 18.99

                        a.button(href="#") See more recipes

                section.section.takeaway
                    +decor('takeaway-left.webp', '404', '404', 'takeaway__decor _left')
                    +decor('takeaway-right.webp', '511', '340', 'takeaway__decor _right')
                    .container.takeaway__container
                        +image('takeaway.webp', '', 'takeaway__image', '612', '539')

                        .takeaway__main-wrapper
                            h2.section__title.takeaway__title Take away
                            p.section__title-large.takeaway__title-large
                                | Simple Way To #[br] Order Your Food
                            p.section__descr.takeaway__descr
                                | Keep healthy food readily available. 
                                | When you get hungry, you’re more likely 
                                | to eat the first thing you see on the 
                                | counter or in the cupboard.
                            .takeaway__installs-wrapper
                                a.button.button_theme_install(href="#")
                                    +image('icons/install-applestore.webp', 'Install via App Store', 'button_theme_install__icon', '150', '49')
                                a.button.button_theme_install(href="#")
                                    +image('icons/install-googleplay.webp', 'Install via Google Play', 'button_theme_install__icon', '153', '52')

                section.section.testim
                    +decor('testim.webp', '117', '109', 'testim__decor')
                    .container.testim__container
                        .testim__main-wrapper
                            h2.section__title.testim__title Testimonial
                            p.section__title-large.testim__title-large That’s what our Client Says
                            p.section__descr.testim__descr 
                                | “Food palace is an awesome place. Food is everything we are. 
                                | It’s an extension of nationalist feeling, ethnic feeling, 
                                | your personal history, your province”
                            .testim__specs-wrapper
                                ul.testim__specs-list
                                    li.specialist
                                        p.specialist__name Jessica Parker
                                        p.specialist__category Product Designer @ Kitty

                                .testim__specs-nav-btns
                                    button.button.button_theme_arrow
                                        +svgIcon('arrow', 'arrow arrow_left arrow_gray', '14', '14')
                                    button.button.button_theme_arrow
                                        +svgIcon('arrow', 'arrow', '31', '31')

                        +image('testim.webp', '', 'testim__image', '745', '544')
                          
            footer.section.section_bg_gradient.footer
                +decor('footer.webp', '295', '358', 'footer__decor')
                .container.footer__container
                    .footer__main-wrapper
                        ul.footer__info
                            li.logo
                                +image('logo.svg', 'Logo', 'logo__icon', '25', '25')
                                p.logo__label F.palace

                            li.footer__info-item 
                                +svgIcon('email', '_icon', '19', '14')
                                | info@food_palace.com
                            li.footer__info-item 
                                +svgIcon('globe', '_icon', '17', '17')
                                | Www.Food_palace.com

                        .footer__sections
                            section.footer__section
                                h3.footer__section-title Our menu
                                ul.footer__section-list
                                    li.footer__section-item
                                        a(href="#") Breakfast
                                    li.footer__section-item
                                        a(href="#") Lunce
                                    li.footer__section-item
                                        a(href="#") Dinner

                            section.footer__section
                                h3.footer__section-title Information
                                ul.footer__section-list
                                    li.footer__section-item
                                        a(href="#") about us
                                    li.footer__section-item
                                        a(href="#") testimonial
                                    li.footer__section-item
                                        a(href="#") event

                            section.footer__section
                                h3.footer__section-title useful links
                                ul.footer__section-list
                                    li.footer__section-item
                                        a(href="#") services
                                    li.footer__section-item
                                        a(href="#") support
                                    li.footer__section-item
                                        a(href="#") conditions

                            section.footer__section
                                h3.footer__section-title Social Handles
                                ul.footer__section-list
                                    li.footer__section-item._bolder
                                        a(href="#") facebook
                                    li.footer__section-item._bolder
                                        a(href="#") twitter
                                    li.footer__section-item._bolder
                                        a(href="#") youtube

                    p.footer__copyright 
                        span
                            | Created with 
                            +svgIcon('like', '_like-icon', '11', '11')
                            |
                            | by  Sajib Das Supriyo for Twinkle Creative. 
                            | All rights reserved

        script(src="assets/js/main.min.js") 